<!DOCTYPE html>
<html>
  <head>
    <title>CoolCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/style.css" rel="stylesheet" />

  </head>

  <body>
    <%= yield %>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://www.enginex.ba/js/bootstrapValidator.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74190719-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-74190719-3');
    </script>
    <script type="text/javascript">
  $(document).ready(function() {


    $('#contact_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Popunite polje ime'
                    }
                }
            },
             last_name: {
                validators: {
                     stringLength: {
                        min: 2,
                    },
                    notEmpty: {
                        message: 'Popunite polje prezime'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Popunite polje E-Mail adresa.'
                    },
                    emailAddress: {
                        message: 'Unesite ispravnu E-Mail adresu.'
                    }
                }
            },
            product: {
                validators: {
                    notEmpty: {
                        message: 'Izaberite tip servera'
                    }
                }
              }
              
            }
            
            
        })
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow")
                $('#contact_form').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
        });
});

</script>
<script>
    // SCROLL SCRIPTS 
        $('.scroll-me a').bind('click', function (event) { //just pass scroll-me class and start scrolling
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1000, 'easeInOutQuad');
        event.preventDefault();
        });
    //COLLAPSE HEADER ON SCRLL
        $(window).scroll(function () {
            if ($(".navbar").offset().top > 40) {
                $(".navbar-fixed-top").addClass("navbar-pad-original");
                $('.navbar-brand>img').attr('src','img/logoblue.png');
            
               /* $('.navbar-brand>img').fadeOut('fast', 
                  function () {
                $(this).attr('src', '/img/logoblue.png').fadeIn('fast');
            }
          );*/

            } else {
                $(".navbar-fixed-top").removeClass("navbar-pad-original");
                $('.navbar-brand>img').attr('src','img/logo.png')
                /*$('.navbar-brand>img').fadeOut('fast', 
                  function () {
                $(this).attr('src', '/img/logo.png').fadeIn('fast');
            }
          );
*/

            }
        });
});



    </script>

  </body>
</html>
